<head>
      <script src="/js/navbar.js"></script>
      <!-- <script src="/js/weather.js"></script> -->

</head>

<nav class="navbar navbar-expand-lg navbar-dark custom-colour-nav fixed-top">
      <div class="container-fluid">


            <!-- bootstrap and on click with be open nav  -->
            <button class="navbar-toggler me-2" type="button" onclick="openNav()" data-bs-toggle="collapse"
                  data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>


            <a class="navbar-brand navbar-brand-centered" href="/dashboard">SwoleCat</a>


            <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                              <a class="nav-link active" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="/friends">Friends List</a>
                        </li>
                        <!-- Replace feature with proper page/feat. -->
                        <li class="nav-item">
                              <a class="nav-link" href="/trackSession">Track Session</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="/coachOffice">Cat Office</a>
                              
                        </li>

                        <li class="nav-item" id="workout-link">
                              <a class="nav-link" href="/workoutGuide">Workout Guide</a>
                        </li>
                  </ul>

            </div>

            <div class="d-flex align-items-center">
                  <a>
                        <div class="widget-container">
                              <p><span id="weather-location">Loading...</span></p>
                              <div class="temp-icon">
                                    <p id="degrees"><span id="temperature">Loading...</span>°C</p>
                                    <!-- <p><span id="description">Loading...</span></p> -->

                                    <img id="icon" src="" alt="" style="display:none;" />
                              </div>
                        </div>
                  </a>
            </div>


            <a href="/profile">
                  <img src="/images/profile.jpg" alt="Profile" class="rounded-circle me-2" width="32" height="32">
            </a>
      </div>

      <!-- side bar is based on this link as bootstrap can't cover it -->
      <!-- https://www.w3schools.com/howto/howto_js_sidenav.asp -->
      <!-- side nav bar  -->
      <div id="mySideNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/about">About</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/friends">Friends List</a>
            <a href="/exerciseSession">Track Session</a>
            <a href="/coachOffice">Cat Office</a>
            <a href="/workoutGuide">Workout Guide</a>
      </div>


</nav>


<script>


      // Fetch weather data
      fetch('/api/weather')
            .then(res => res.json())
            .then(data => {
                  document.getElementById('weather-location').textContent = data.location || 'N/A';
                  document.getElementById('temperature').textContent = data.temperature || 'N/A';

                  if (data.icon) {
                        const icon = document.getElementById('icon');
                        icon.src = `https://openweathermap.org/img/wn/${data.icon}@2x.png`;
                        icon.alt = data.description;
                        icon.style.display = 'inline';
                  }
            })
            .catch(err => {
                  console.error('Weather fetch error:', err);
            });

</script>
