<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Leaderboard</title>

      <link rel="stylesheet" href="/css/about.css">
      <link rel="stylesheet" href="/css/navbar.css">
      <link rel="stylesheet" href="/css/weather.css">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet">
</head>

<body style="font-family: 'Winky Rough', sans-serif;">
      <%- include('partials/navbar') %>
            <div class="style">
                  <div class="container mt-4 ">
                        <h1>Project Pitch:</h1>
                        <p>SwoleCat is a gamified fitness tracking app designed to make exercise fun, rewarding, and
                              consistent by providing an interactive fitness adventure where users level up their own
                              virtual cat companion as they make progress, turning healthy habits into lasting
                              motivation.</p>
                        <h1>DTC-05 SwoleCat Team Members:</h1>
                        <ul>
                              <li> Roger Vanderheyden</li>
                              <li> Steve Xie </li>
                              <li> Jia Yin (Jossie) Yan </li>
                              <li> Mahyar Golestanpour </li>
                              <li> Anthony Herradura </li>
                        </ul>
                  </div>


                  <!-- <img class="cat-avatar" src="/Users/jossieyan/2800-202510-DTC05/public/images/1couchPotato.png"
                        alt="Cat Avatar" /> -->
                  <div class="avatar-container">
                        <img class="cat-avatar" src="images/1couchPotato.png">
                        <img class="cat-avatar" src="images/2gymAmatuer.png">
                        <img class="cat-avatar" src="images/3gymBro.png">
                        <img class="cat-avatar" src="images/4ultimateGymMachine.png">
                  </div>
            </div>
</body>

</html>