<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/index.css">
  <!-- Font Link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
</head>

<body class="container">
  <h2>Welcome, <%= username %>!</h2>
  <br />
  <a href="/logout" class="btn">Logout</a>
</body>

</html>