<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/weather.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>


<body style="font-family: 'Winky Rough', sans-serif;">
    <%- include('partials/navbar') %>

        <div class="form-container">
            <h2>Login</h2>

            <% if (error) { %>
                <div class="alert alert-danger" role="alert">
                    <%- error %>
                </div>
                <% } %>

                    <form action="/login" method="POST">

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Enter email here" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Enter password here"
                                required>
                        </div>
                        <input type="checkbox" name="remember" value="1" id="remember-box"> <label
                            class="remember-box">Remember me</label>

                        <button type="submit" class="submit-btn">Login</button>

                        <p>No Account? <a href="/register">Sign up</a></p>

                    </form>
        </div>

</body>

</html>