<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/newRoutine.css">
    <link rel="stylesheet" href="/navbar.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="container"><%- include('partials/navbar') %> </div> 

<div class="main-content">
    <a href="/back" class="back-button">
        <img src="/images/back.png" alt="Back" class="back-icon">
      </a>
  <div class="welcome-text">My New Routine</div>
  
  <div class="routine-container">
    <div class="routine-list-container">
        <div class="exercise-list">
            <!-- <div class="exercise-item">
                <div class="exercise-name">Push-ups</div>
                <div class="exercise-delete">
                  <img src="/images/garbageBin.png" alt="Delete" class="trash-icon">
              </div> -->
            </div>
            <% if (selectedExercise) { %>
              <div class="exercise-item">
                <div class="exercise-name"><%= selectedExercise %></div>
                <div class="exercise-delete">
                    <img src="/images/garbageBin.png" alt="Delete" class="trash-icon">
                </div>
              </div>
            <% } %>

        </div>
    </div>
</div>
  
<div class="button-row">
  <a href="/selectExercise" class ="add-exercise-button">
    <img src="/images/plus.png" alt="Add" class="plus-icon">
    Add Exercise
  </a>
  <button class="save-routine-button">
    <img src="/images/diskette.png" alt="Add" class="save-icon">
    Save Routine
  </button>
</div>


</body>
</html>