<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/routines.css">
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="/weather.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container"><%- include('partials/navbar') %> </div>

  <div class="main-content">
    <a href="/back" class="back-button">
      <img src="/images/back.png" alt="Back" class="back-icon">
    </a>
    <div class="welcome-text">
      <%= username %>'s Routines
    </div>

    <div class="routine-container">
      <div class="routine-list-container">
        <div class="exercise-list">
          <% if (routines && routines.length> 0) { %>
            <% routines.forEach(function(routine) { %>
              <div class="exercise-item">
                <div class="exercise-name">
                  <a href="/routine/<%= routine._id %>" class="routine-link">
                    <%= routine.routineName %>
                  </a>
                </div>
              </div>
              <% }) %>
                <% } else { %>
                  <div class="exercise-name">No routines yet. Create your first!</div>
                  <% } %>
        </div>
      </div>
    </div>

    <a href="/newRoutine" class="add-exercise-button">
      <img src="/images/plus.png" alt="Add" class="plus-icon">
      Create New Routine
    </a>

  </div>


</body>

</html>