<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/weather.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/routines.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
</head>



<body style="background-color: #CAD5E1; font-family: 'Winky Rough', sans-serif;">
  <%- include('partials/navbar') %>

    <div class="main-content">

      <div class="welcome-text">
        <a href="/back" class="back-button">
          <img src="/images/back.png" alt="Back" class="back-icon">
        </a>
        Select your routine
      </div>


      <div class="routine-list-container">
        <div class="exercise-list">
          <% if (routines && routines.length> 0) { %>
            <% routines.forEach(function(routine) { %>
              <div class="exercise-item">
                <div class="exercise-name">
                  <a href="/routine/<%= routine._id %>/session" class="routine-link">
                    <%= routine.routineName %>
                  </a>
                </div>
                <div class="arrow">›</div>
              </div>
              <% }) %>
                <% } else { %>
                  <div class="exercise-name">No routines yet. Create your first!</div>
                  <% } %>
        </div>
      </div>
    </div>

    <a href="/newRoutine" class="add-exercise-button">
      <img src="/images/plus.png" alt="Add" class="plus-icon">
      Create New Routine
    </a>

    </div>


</body>

</html>