<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Location Info</title>
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="/weather.css">
  <link rel="stylesheet" href="/weatherPage.css">

  <script src="/js/weather.js"></script>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">

  <style>
    h1 {
      padding-top: 80px;
    }
  </style>

  //comment

</head>

<body>
  <!-- <h1>IP Location</h1>
  <p><strong>IP:</strong> <span id="ip">Loading...</span></p>
  <p><strong>City:</strong> <span id="city">Loading...</span></p>
  <p><strong>District:</strong> <span id="district">Loading...</span></p>
  <p><strong>Latitude:</strong> <span id="latitude">Loading...</span></p>
  <p><strong>Longitude:</strong> <span id="longitude">Loading...</span></p> -->
  <div class="container"><%- include('partials/navbar') %> </div>


  <h1>CAN PUT MORE WEATHER INFO HERE?</h1>

</body>

</html>