.widget-container {
      background: #9bc5ea;
      padding-left: 15px;
      padding-top: 16px;
      border-radius: 8px;
      width: 225px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      font-size: 14px;
      color: rgb(255, 255, 255);
}

/* .widget-container:hover {
      background: #b0d6f7;
} */

#weather-location {
      font-weight: bold;
      font-size: 0.8rem;
      color: #323131;
      margin: 0;
      padding-right: 20px;
}

.temp-icon {
      display: flex;
      align-items: center;
      border-radius: 6px;
      gap: 5px;
}

#temperature {
      font-size: 0.7rem;
      font-weight: bold;
      color: #323131;
      margin: 0;
      padding: 2px;
}

.temp-icon img {
      width: 32px;
      height: 32px;
}

#degrees {
      font-size: 0.7rem;
      font-weight: bold;
      color: #323131;
}

/* Responsive for medium and small screens (≤991px) */
@media (max-width: 991px) {
      .widget-container {
            position: absolute;
            right: 60px;
            top: 8px;
            background: #9bc5ea;
            width: auto;
            padding: 2px 6px;
            height: auto;
            margin: 0;
      }

      #weather-location {
            display: none;
      }

      .temp-icon img {
            width: 20px;
            height: 20px;
      }

      #degrees {
            font-size: 12px;
            margin: 0;
            padding: 0;
      }
}