body {
    background-color: #f7f7ff;
    font-family: 'Winky Rough', sans-serif;
    padding-top: 60px;
    margin: 0;
  }

          .main-content {
            padding: 10px;
            text-align: center;
        }
        
        .welcome-text {
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: bold; 
            font-family: 'Winky Rough', sans-serif; 
            font-size: 20px; 
            color: #333; 
        }
        .cat-name {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .avatar-container {
            width: 200px;
            height: 350px;
            margin: 0 auto;
            position: relative;
        }
        
        .cat-avatar {
            width: 200px;
            height: 350px;
            background-color: #ddd;
            border-radius: 10%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
        }
        
        .bottom-nav {
            display: flex;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #ccc; 
        }
        
        .bottom-nav-item {
            flex: 1; 
            padding: 15px; 
            background-color: #ccc; 
            border: 1px solid #666; 
            border-right: none; 
            text-align: center;
            font-weight: bold; 
            font-family: 'Winky Rough', sans-serif; 
            font-size: 16px; 
            color: #333; 
            cursor: pointer; 
        }
        .bottom-nav-item:hover {
            background-color: #bbb;
        }
        
        .bottom-nav-item:active {
            background-color: #aaa;
        }
        

