.table-style {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;


}

/* CSS below inspired by this one */
/* https://www.geekster.in/articles/cell-padding-and-cell-spacing-in-html/#:~:text=You%20can%20use%20the%20CSS,both%20headers%20and%20data%20cells. */
thead {
      text-align: center;
}

th {
      padding: 0 20px;

}