ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
}


.navbar-brand-centered {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-family: 'Winky Rough', sans-serif;
}


.custom-colour-nav {
      background-color: #303c58;
}