.widget-container {
      background: #9bc5ea;
      padding-left: 15px;
      padding-top: 16px;
      border-radius: 8px;
      width: 225px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      font-size: 14px;
}

.widget-container:hover {
      background: #b0d6f7;
      padding-left: 15px;
      padding-top: 16px;
      border-radius: 8px;
      width: 225px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      font-size: 14px;
}

#weather-location {
      font-weight: bold;
      font-size: 0.8rem;
      color: #323131;
      margin: 0;
      padding-right: 20px;
}

.temp-icon {
      display: flex;
      align-items: center;
      border-radius: 6px;
      gap: 5px;
      row-gap: 0;
}

#temperature {
      font-size: 0.7rem;
      font-weight: bold;
      color: #323131;
      margin: 0;
      padding: 2px;
}

.widget-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      color: rgb(255, 255, 255);
      font-size: 14px;
}

.temp-icon img {
      width: 32px;
      height: 32px;
}

#degrees {
      font-size: 0.7rem;
      font-weight: bold;
      color: #323131;

}